<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuBolso Inteligente</title>

    <link rel="stylesheet" href="">
</head>
<body>

<div class="container">

    <h1>MeuBolso Inteligente</h1>

    <p style="text-align:center; margin-bottom:20px;">
        Sistema de controle financeiro com auxílio de inteligência artificial.
    </p>

    <img 
        src="https://cdn-icons-png.flaticon.com/512/2331/2331941.png"
        width="120"
        style="display:block; margin:20px auto;"
    >

    <div style="display:flex; gap:10px;">

        <button onclick="window.location.href='/login'">
            Entrar
        </button>

        <button onclick="window.location.href='/cadastro'">
            Criar Conta
        </button>

    </div>

</div>

</body>
</html>x